<h2><%= @prediction_results.size %> outliers since <%= 14.days.ago.to_date %></h2>

<%= form_tag( outliers_prediction_results_path, method: "get") do %>
  <%= select_tag :area, 
    options_for_select( get_areas(), @area), 
    onchange: "this.form.submit();"
  %>  

  <%= select_tag :transaction_type, 
    options_for_select( get_transaction_type(), @transaction_type), 
    onchange: "this.form.submit();"
  %>    
<% end %>


<table class="table table-fixed-header table-hover">
  <thead class="header">
    <tr>
      <th>
        #
      </th>
      <th>Property ID</th>
      <th>Transaction Log ID</th>
      <th>Address</th>
      <th>Date Listed</th>
      <th>Date Closed</th>
      <th>Predicted Rent</th>
      <th>Prediction Date</th>            
      <% if @transaction_type == "rental" %>
        <th>Listed Rent</th>
        <th>Error Level</th>
      <% end %>

      <% if @transaction_type == "sales" %>
        <th>Sale Price</th>
        <th>Cap Rate</th>
      <% end %>
    </tr>    
  </thead>
  <tbody>
    <% @prediction_results.each_with_index do |prediction, index| %>
      <tr>
        <td >
          <%=index + 1 %>
        </td>        
        <td> <%= prediction.property.id %></td>
        <td> <%= prediction.property_transaction_log.id %></td>
        <td> 
          <%= 
            link_to(
              prediction.property.address,
              prediction.property.origin_url,
              :target => "_blank"
            ) 
          %>
        </td>
        <td> <%= prediction.property_transaction_log.date_listed %></td>        
        <td> <%= prediction.property_transaction_log.date_closed %></td>        
        <td> <%= prediction.predicted_rent %></td> 
        <td> <%= prediction.created_at.to_date %></td>        

        <% if @transaction_type == "rental" %>
          <td> <%= prediction.listed_rent %></td>
          <td> <%= prediction.error_level %></td>
        <% end %>

        <% if @transaction_type == "sales" %>
          <td> <%= 
            number_with_precision( prediction.listed_sale, :precision => 0, :delimiter => ',')
          %>
          </td>
          <td> <%= 
              number_with_precision( prediction.cap_rate, :precision => 2, :delimiter => ',') 
            %>%
          </td>
        <% end %>        
      </tr>
    <% end %>    
  </tbody>
</table>